/* Header */
header {
    background: no-repeat lightgrey url(images/cliff_ocean.jpg);
    background-size: cover;
    padding-top: 3em;
}

.main-header {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 2em auto 0 auto;
    height: 100px;
}

.main-header .logo img {
    width: 100px;
    height: 100px;
    margin: 0 2em 0 0;
}

/* Navigation (most of the styles will be handled by Bootstrap) */
.main-menu ul li a:hover {
    color: #9ed034;
}

.main-menu ul li.active a {
    color: #fff;
}

/* Main */
main {
    padding: 3em 0;
    font-family: Arial, Helvetica, sans-serif;
}

main h1 {
    font-size: 2.5em;
    padding-bottom: 0.5em;
    color: #9ed034;
}

main h2 {
    font-size: 1.7em;
}

/* Partners */
section {
    background-color: #4288C3;
}

.partner img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

/* Footer */
footer {
    background-color: #ecfab8;
    padding: 1em 0;
}

footer #nondisclaimer .copy {
    text-align: center;
    font-size: 0.9em;
}

footer #nondisclaimer .social .fa {
    padding: 15px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 0 4px;
    border-radius: 50%;
}

footer #nondisclaimer .social .fa:hover {
    opacity: 0.7;
}

footer #nondisclaimer .social .fa-facebook {
    background: #3B5998;
    color: white;
}
    
footer #nondisclaimer .social .fa-twitter {
    background: #55ACEE;
    color: white;
}

footer #nondisclaimer .social .fa-instagram {
    background: #125688;
    color: white;
}

footer #disclaimer p {
    font-size: 0.85em;
    text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
    footer #nondisclaimer .copy {
        padding: 3.5em 0;
        text-align: center;
        font-size: 0.9em;
    }
    footer #nondisclaimer .social {
        padding: 2.5em 0;
        text-align: center;
    }
}

@media (max-width: 992px) {
    .main-menu {
        background-color: rgba(255, 255, 255, 0.8);
    }
    main {
        padding: 3em 1em;
    }
}
